.add-new {
    float: right;
    height: 30px;
    font-weight: bold;
    font-size: 12px;
    text-shadow: none;
    min-width: 100px;
    border-radius: 50px;
    line-height: 13px;
}
td a {
    cursor: pointer;
    display: inline-block;
    margin: 0 5px;
    min-width: 24px;
}  
td i {
    font-size: 19px;
}
td a.add i {
    font-size: 24px;
    margin-right: -1px;
    position: relative;
    top: 3px;
} 